<!-- Status: done -->

<div>
    At least with respect to The Service:
    <ol>
        <li>I am at least 18 years old.</li>
        <li>I will be civil.</li>
        <li>I will not try to significantly disrupt the event or system.  (No hacking or causing a commotion.)</li>
        <li>I will not try to take information that was not given to me.  (No hacking.)</li>
        <li>I accept the <a href="/s/uses_of_information">Uses of Information</a>.</li>
        <li>I may be warned or banned for violating the rules, and will abide by any ban.</li>
    </ol>
    (Note: if you find an accidental security vulnerability in the system, and tell me about it, I don't intend to throw the rulebook at you, as long as it was done in good faith, and you didn't intentionally (or through gross negligence) cause significant damage/disruption, and you didn't save/transmit/memorize anybody's personal data.)<br/>
</div>