<!-- account_signup_confirm -->

<!DOCTYPE html>
<html lang="en">

    <body>
        <div>account_signup_confirm</div>

        {{> fragments/terms_of_service.hbs }}

        <a href="/s/accept_tos">I agree</a>  <a href="/s/decline_tos">I disagree</a> <!-- //TODO Do -->

        <a href="/login">login</a> <!-- //TODO Remove -->
    </body>

</html>