<!-- event_signup -->
<!-- Status: unknown-->

<!DOCTYPE html>
<html lang="en">

    <body>
        {{> fragments/head.hbs}}
        
        <div>event_signup</div>

        <form id="eventSignupForm">
            <label for="event_code">Event code:</label><br/>
            <input class="dataInput" type="text" name="eventCode" id="eventCode" required /><br/><br/>
            <input type="submit" name="submitBt" id="submitBt" value="Submit" />
        </form>
        {{> fragments/result_modal.hbs}}
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <a href="select_event">select event</a>
    </body>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#eventSignupForm").on('submit', function (event) {

                event.preventDefault();

                $.ajax({
                    type: "post",
                    url: "/s/post/event_signup",
                    data: {eventCode: $("#eventCode").val()},
                    success: function (response) {
                        $("#alertBoxModal").css({"background-color": "rgba(16,71,116,0.9)"});
                        $("#logModal").html("<strong>Successfully joined event: <span id='eventName'></span></strong>");
                        $("#eventName")[0].textContent = response;
                    },
                    error: function () {
                        $("#alertBoxModal").css({"background-color": "rgba(255,44,30,0.66)"});
                        $("#logModal").html("<strong>An error has occurred</strong>");
                    }

                });
            });
        });
    </script>
    
</html>