<!-- sessions -->
<!-- Status: unknown-->

<!DOCTYPE html>
<html lang="en">

    <body>
        {{> fragments/head.hbs}}
        
        <div>sessions</div>
        
        <!-- //DUMMY Show current event.  Maybe in header?  Probably in header. -->

        <div>
            <ul>
              {{#each sessions}}
                <li onclick=''>{{this}}</li>
              {{/each}}
            </ul>
        </div>
        
        <form id="updateSessionForm" style="border: 1px solid black">
            <ul>
                <li>
                    <label for="u_id">ID:</label><br/>
                    <input class="dataInput" type="text" name="u_id" id="u_id" required /><br/><br/>
                </li>
<!--                <li>
                    <label for="u_event_id">Event ID:</label><br/>
                    <input class="dataInput" type="text" name="u_event_id" id="u_event_id" required /><br/><br/>
                </li>-->
                <li>
                    <label for="u_starttime">Start time:</label><br/>
                    <input class="dataInput" type="number" id="u_starttime" name="u_starttime" /><br/><br/>
                </li>
                <li>
                    <label for="u_duration">Duration (ms):</label><br/>
                    <input class="dataInput" type="number" id="u_duration" name="u_duration" /><br/><br/>
                </li>
                <li>
                    <label for="u_room_id">Room ID:</label><br/>
                    <input class="dataInput" type="text" name="u_room_id" id="u_room_id" required /><br/><br/>
                </li>
                <!-- //CHECK speedDates, or maxParticipants? -->
                <input type="submit" name="updateBt" id="updateBt" value="Update" />
            </ul>
        </form>
        <form id="createSessionForm" style="border: 1px solid black">
            <ul>
<!--                <li>
                    <label for="c_event_id">Event ID:</label><br/>
                    <input class="dataInput" type="text" name="c_event_id" id="c_event_id" required /><br/><br/>
                </li>-->
                <li>
                    <label for="c_starttime">Start time:</label><br/>
                    <input class="dataInput" type="number" id="c_starttime" name="c_starttime" /><br/><br/>
                </li>
                <li>
                    <label for="c_duration">Duration (ms):</label><br/>
                    <input class="dataInput" type="number" id="c_duration" name="c_duration" /><br/><br/>
                </li>
                <li>
                    <label for="c_room_id">Room ID:</label><br/>
                    <input class="dataInput" type="text" name="c_room_id" id="c_room_id" required /><br/><br/>
                </li>
                <!-- //DITTO //CHECK speedDates, or maxParticipants? -->
                <input type="submit" name="createBt" id="createBt" value="Create" />
            </ul>
        </form>
        {{> fragments/result_modal.hbs}}
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </body>

    <script type="text/javascript">
        function fillUpdate(id, starttime, duration, room) {
            //TODO Uncomment when id/room is fixed
            //$("#u_id").val(id);
            //$("#u_starttime").val(starttime);
            //$("#u_duration").val(duration);
            //$("#u_room").val(room);
        }
        
        $(document).ready(function () {
            $("#updateSessionForm").on('submit', function (event) {
                event.preventDefault();

                $.ajax({
                    type: "put",
                    url: "/a/put/update_session",
                    data: {
                        id: $("#u_id").val(),
                        //eventId: $("#u_event_id").val(),
                        starttime: $("#u_starttime").val(),
                        duration: $("#u_duration").val(),
                        roomId: $("#u_room_id").val()
                        //DITTO //CHECK speedDates, or maxParticipants?
                    },
                    success: function (response) {
                        $("#alertBoxModal").css({"background-color": "rgba(16,71,116,0.9)"});
                        $("#logModal").html("<strong>Successfully updated event</strong>");
                        $("#u_id").val("");
                        //$("#u_event_id").val("");
                        $("#u_starttime").val("");
                        $("#u_duration").val("");
                        $("#u_room_id").val("");
                        //DITTO //CHECK speedDates, or maxParticipants?
                    },
                    error: function () {
                        $("#alertBoxModal").css({"background-color": "rgba(255,44,30,0.66)"});
                        $("#logModal").html("<strong>An error has occurred</strong>");
                    }
                });
            });
            
            $("#createSessionForm").on('submit', function (event) {
                event.preventDefault();

                $.ajax({
                    type: "post",
                    url: "/a/post/create_session",
                    data: {
                        //eventId: $("#c_event_id").val(),
                        starttime: $("#c_starttime").val(),
                        duration: $("#c_duration").val(),
                        roomId: $("#c_room_id").val()
                        //DITTO //CHECK speedDates, or maxParticipants?
                    },
                    success: function (response) {
                        $("#alertBoxModal").css({"background-color": "rgba(16,71,116,0.9)"});
                        $("#logModal").html("<strong>Successfully created event</strong>");
                        //$("#c_event_id").val("");
                        $("#c_starttime").val("");
                        $("#c_duration").val("");
                        $("#c_room_id").val("");
                        //DITTO //CHECK speedDates, or maxParticipants?
                    },
                    error: function () {
                        $("#alertBoxModal").css({"background-color": "rgba(255,44,30,0.66)"});
                        $("#logModal").html("<strong>An error has occurred</strong>");
                    }
                });
            });
        });
    </script>
    
</html>