<!-- venues -->
<!-- Status: unknown-->

<!DOCTYPE html>
<html lang="en">

    <body>
        {{> fragments/head.hbs}}
        
        <div>venues</div>

        <div>
            <ul>
              {{#each venues}}
                <li onclick='fillUpdate("{{id}}", "{{description}}")'>{{this}}</li> <!-- //TODO id/description doesn't swap in -->
              {{/each}}
            </ul>
        </div>
        
        <form id="updateVenueForm" style="border: 1px solid black">
            <label for="u_id">ID</label><br/>
            <input class="dataInput" type="text" name="u_id" id="u_id" required /><br/><br/>
            <label for="u_description">Venue:</label><br/>
            <input class="dataInput" type="text" name="u_description" id="u_description" required /><br/><br/>
            <input type="submit" name="updateBt" id="updateBt" value="Update" />
        </form>
        <form id="createVenueForm" style="border: 1px solid black">
            <label for="c_description">Venue:</label><br/>
            <input class="dataInput" type="text" name="c_description" id="c_description" required /><br/><br/>
            <input type="submit" name="createBt" id="createBt" value="Create" />
        </form>
        {{> fragments/result_modal.hbs}}
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </body>

    <script type="text/javascript">
        function fillUpdate(id, description) {
            //TODO Uncomment when id/description is fixed
            //$("#u_id").val(id);
            //$("#u_description").val(description);
        }
        
        $(document).ready(function () {
            $("#updateVenueForm").on('submit', function (event) {
                event.preventDefault();

                $.ajax({
                    type: "put",
                    url: "/a/put/update_venue",
                    data: {
                        id: $("#u_id").val(),
                        description: $("#u_description").val()
                    },
                    success: function (response) {
                        $("#alertBoxModal").css({"background-color": "rgba(16,71,116,0.9)"});
                        $("#logModal").html("<strong>Successfully updated venue</strong>");
                        $("#u_id").val("");
                        $("#u_description").val("");
                    },
                    error: function () {
                        $("#alertBoxModal").css({"background-color": "rgba(255,44,30,0.66)"});
                        $("#logModal").html("<strong>An error has occurred</strong>");
                    }
                });
            });
            
            $("#createVenueForm").on('submit', function (event) {
                event.preventDefault();

                $.ajax({
                    type: "post",
                    url: "/a/post/create_venue",
                    data: {description: $("#c_description").val()},
                    success: function (response) {
                        $("#alertBoxModal").css({"background-color": "rgba(16,71,116,0.9)"});
                        $("#logModal").html("<strong>Successfully created venue</strong>");
                        $("#c_description").val("");
                    },
                    error: function () {
                        $("#alertBoxModal").css({"background-color": "rgba(255,44,30,0.66)"});
                        $("#logModal").html("<strong>An error has occurred</strong>");
                    }
                });
            });
        });
    </script>
    
</html>